{{ form_start(userForm) }}
{{ form_row(userForm.avatar) }}
{{ form_row(userForm.name) }}
{{ form_row(userForm.email) }}
<button class="btn btn-primary" type="submit">Update</button>
{{ form_end(userForm) }}