{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ app.user.name }} profile{% endblock %}

{% block body %}
    {% if(app.session.flashBag.peek('success')|length > 0) %}
        <div class="alert alert-warning d-block">
            {% for message in app.flashes('success') %}
                <p> {{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-lg-4 text-center">
            <img class="bg-light rounded-circle" src="{{ app.user.avatarUrl }}" alt="avatar">
            <h2 class="fw-normal">{{ app.user.name }}</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the
                first column.</p>
            <p><a class="btn btn-secondary" href="{{ path('app_account_edit', {'id': app.user.id}) }}">Edit profile »</a></p>
        </div><!-- /.col-lg-4 -->
    </div>

    <div class="row">
        <div class="col">
            <p class="d-flex justify-content-start gap-2">
                Мои статьи
                <span class="badge bg-secondary">{{ articlePagination.totalItemCount }}</span>
                <span class="badge text-bg-primary">
                    <a class="text-light text-decoration-none" href="{{ path('app_article_create') }}">
                        <i class="bi bi-plus-circle"></i> Написать
                    </a>
                </span>

            </p>
            <ul class="list-group">
                {% for article in articlePagination %}
                    <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-action">
                        <div class="ms-2 me-auto w-100">
                            <div class="fw-bold d-flex justify-content-start gap-4">

                                <div>
                                    <a class="text-decoration-none text-dark"
                                       href="{{ path('app_articles_show', {'slug': article.slug}) }}">
                                        {{ article.title }}
                                    </a>
                                    <span class="badge bg-primary rounded-pill">
                                        <i class="bi bi-chat-left-dots"></i>
                                            {{ article.comments|length }}
                                    </span>
                                    <span class="badge bg-primary rounded-pill">
                                       <i class="bi bi-star-fill"></i>
                                            {{ article.likes|length }}
                                    </span>
                                </div>
                                <div class="mb-1 text-muted flex-grow-1">{{ article.publishedAt|timeAgo }}</div>
                                {{ include('components/edit_group_button.html.twig', {'id': article.id}) }}
                            </div>
                            {{ article.content|slice(0,45 ) ~ '...' }}
                        </div>

                    </li>
                {% else %}
                    <p>Статей пока нет.</p>
                {% endfor %}
            </ul>
            <div class="navigation">
                {{ knp_pagination_render(articlePagination) }}
            </div>
        </div>
        <div class="col">
            <p>Мои комментарии</p>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-action">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Content for list item
                    </div>
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Hanging icons</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#toggles2"></use>
                    </svg>
                </div>
                <div>
                    <h3 class="fs-2">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">
                        Primary button
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#cpu-fill"></use>
                    </svg>
                </div>
                <div>
                    <h3 class="fs-2">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">
                        Primary button
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#tools"></use>
                    </svg>
                </div>
                <div>
                    <h3 class="fs-2">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">
                        Primary button
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
