{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} {{ article.title|slice(0,20) }} {% endblock %}
{% block body %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <a class="d-flex flex-column">
            <a href="{{ (article.image ?? upload_asset('article_upload', article.image)) | imagine_filter('article_detail')}}" target="_blank">
                <img src="{{ (article.image ?? upload_asset('article_upload', article.image)) | imagine_filter('article_detail') }}" class="rounded mx-auto d-block img-fluid" width="400" style="object-fit: cover" alt="{{ article.title }}">
            </a>
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">{{ article.title }}</h1>
                <p class="col-md-8 fs-4">{{ article.content }}</p>
                <span class="text-black">{{ article.updatedAt|timeAgo }}</span>
                <img src="{{ article.author.avatarUrl(32) }}">
                <span class="text-muted">{{ article.author.name }}</span>
                {{ include('components/like_button.html.twig', {'likesCount': article.likes.count, 'slug': article.slug, 'isLikedByUser':article.isLikedBy(app.user)}) }}
            </div>
            {{ include('components/tags.html.twig', {'tags': article.tags}) }}
        </div>

    </div>
    <div class="d-flex flex-column gap-1 mb-2">
        {% for comment in article.comments %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <span class="text-black">{{ comment.createdAt|timeAgo }}</span>
                        <span class="text-muted">{{ comment.authorName }}</span>
                        {% if comment.deletedAt %}
                        <span class="text-muted">deleted</span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ comment.content }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}
