{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} {{ article.title|slice(0,20) }} {% endblock %}
{% block body %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="d-flex flex-column">
            <div class="">
                <img src="{{ asset(article.imagePath) }}" class="rounded mx-auto d-block img-fluid" width="400" style="object-fit: cover" alt="123">
            </div>
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">{{ article.title }}</h1>
                <p class="col-md-8 fs-4">{{ article.content }}</p>
                <span class="text-black">{{ article.publishedAt|timeAgo }}</span>
                <span class="text-muted">{{ article.author }}</span>
                {{ include('components/likeButton.html.twig', {'likesCount': article.likeCount, 'slug': article.slug}) }}
            </div>
        </div>

    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for comment in comments %}
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>

                    <div class="card-body">
                        <p class="card-text">{{ comment }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}
