{% apply inline_css(source('@styles/email/email.css')) %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        <title>Welcome to {{ app_name }}</title>
    </head>
    <body>
    <div class="container">
        <div class="width-75">
            {% block header %}
                <div class="inline">

                    <h1 class="text-grey">
                        <a class="text-no-decoration text-grey flex-center" href="{{ url('app_homepage') }}">
                            <img class="image radius-4" src="{{ absolute_url(asset('images/test2.jpg')) }}">
                            <span>
                                {{ app_name }}
                            </span>
                        </a>

                    </h1>
                    <h3>{{ "now"|date("d M Y") }}</h3>
                </div>
            {% endblock %}
            <main class="container">
                {% block body %}

                {% endblock %}
            </main>
            {% block footer %}
                <footer class="inline">
                    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a
                                href="https://twitter.com/mdo">@mdo</a>.</p>
                    <p>
                        <a href="#">Back to top</a>
                    </p>
                </footer>
            {% endblock %}
        </div>

    </div>

    </body>
    </html>
{% endapply %}
